:root {
    --primary-color: #e0a260;
    --secondary-color: #;
    --accent-color: ;
}

html {
    background-color: lab(90.42% -0.64 -1.33);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-right: 32px auto;
    margin-bottom: 70px;
    padding: 8px;
}

a {
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    background-color: var(--primary-color);
    border: none;
    border-radius: 8px;
    color: black;
    padding: 18px;
    margin: 4px;
    margin-top: 32px;
}

a:hover {
    background-color: #be8950;
}
a:active {
    background-color: #946b3e;
}

.home.image {
    display: block;
    margin: 200px;
    padding: 32px;
}
