html {
    background-color: lab(90.42% -0.64 -1.33);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin-right: 32px auto;
    margin-bottom: 70px;
    padding: 8px;
}

a {
    font-family: sans-serif;
    font-size: 16px;
    text-decoration: none;
    background-color: #80d6ba;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 18px;
    margin: 4px;
}

a:hover {
    background-color: #47cca0;
}

a:active {
    background-color: #37a07d;
}