html {
    background-color: lab(90.42% -0.64 -1.33);
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 36px;
}

.button {
    padding: 1px 6px;
    border: ;  
}

a:link,
a:visited,
a:focus {
    background: rgb(135, 243, 207);
    color: black;
}

a:hover {
    background: green;
}

a:active {
    background: darkgreen;
}